<html xmlns:th="https://www.thymeleaf.org" lang="en">
<body>

<div th:if="${message}">
    <h2 th:text="${message}"/>
</div>

<h1>Welcome Massire 😜</h1>
<!--Magasin-->
<!--<div>
    <form method="POST" enctype="multipart/form-data" action="/api/v1/magasins/1">
        <label for="logoFile">Logo
            <input type="file" name="logoFile" id="logoFile"/>
        </label>

        <label>Libélé
            <input type="text" name="libele">
        </label>

        <label>Description
            <input type="text" name="description">
        </label>

        <input type="submit" value="valider" />
    </form>
</div>-->

<!--Produit-->
<!--<form method="POST" enctype="multipart/form-data" action="/api/v1/produits/2">
    <label>titre
        <input type="text" name="titre">
    </label>
    <label>description
        <input type="text" name="description">
    </label>
    <label for="quantiteStock">quantité
    <input type="text" name="quantiteStock" id="quantiteStock">
    </label>

    <label for="prix">Prix
    <input type="number" name="prix" id="prix">
    </label>
    <input type="file" name="image" />

    <input type="submit" value="enregistrer" />
</form>-->

<!--Website-->
<!--<form method="POST" action="/api/v1/website/2">-->
<!--    <label>Websiye url-->
<!--        <input type="text" name="websiteUrl">-->
<!--    </label>-->
<!--    <input type="submit" value="enregistrer" />-->
<!--</form>-->



<!--User-->
<!--<form method="POST" action="/api/v1/users">
    <label>username
        <input type="text" value="msi" name="username">
    </label>
    <label>email
        <input type="email" value="msi@gmail.com" name="email">
    </label>
    <label>password
        <input type="password" value="123456" name="password">
    </label>
    <input type="submit" value="enregistrer" />
</form>-->
</body>
</html>